.ast-custom-menu-wrapper {
  margin: 0 auto;
}

/* Style - Inline */
.ast-widget-menu-inline {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ast-widget-menu-inline li {
  display: inline-block;
}

.ast-widget-menu-style-1 li:not(.next-menu-item) a {
  position: relative;
  width: 100%;
  display: inline-block;
}

.ast-widget-menu-style-1 li:not(.next-menu-item) a:after {
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
  border-bottom: 2px dotted #e6e7e8;
}

@media all and (min-width: 768px) {
  .ast-widget-menu-inline {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* &.ast-widget-menu-style-1 li {
	    			padding-right: 20px;
	    			padding-bottom: 0;
	    
	    			a {
	    				padding-bottom: 0;
	    				&:after {
	    				    right: -10px;
	    				    bottom: 0;
	    				    top: 0;
	    				    content: '';
	    				    position: absolute;
	    				    border-right: 2px dotted #e6e7e8;
	    				    border-bottom: none;
	    				}
	    			}
	    			
	    			&:last-child {
	    				padding-right: 0;
	    				a:after {
	    				    display: none;
	    				}
	    			}
	    		} */
  }
  .ast-widget-menu-inline.ast-widget-menu-style-1 li a:after {
    display: none;
  }
  .ast-widget-menu-inline .sub-menu {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
