.ast-progress-name {
  margin-bottom: 10px;
}

.ast-progress-val {
  height: 10px;
  background-color: #808285;
}

.ast-progress-val span {
  height: 100%;
  color: #fff;
  text-align: left;
  width: 0;
  float: right;
  background-color: #0099ff;
}

.ast-progress-bar-inner {
  margin-bottom: 1.7em;
}

.ast-widget-progress-bar.widget h2.widget-title {
  margin-bottom: 1em;
}
