.ast-widget-address .widget-address-field {
  width: 100%;
}

.ast-widget-address address {
  margin: 0;
}

.ast-widget-address .icon-wrap,
.ast-widget-address .address-meta {
  display: inline-block;
  vertical-align: top;
}

.ast-widget-address .widget-address-field {
  margin-bottom: 10px;
}

.ast-widget-address .icon-wrap {
  margin: 0 0px 5px 5px;
}

.ast-widget-address .icon-wrap i {
  vertical-align: middle;
}

.ast-widget-address .address-wrap {
  display: inline;
}

.ast-widget-address .address-widget-label {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}

.ast-widget-address .astra-address-widget-map {
  width: 100%;
  height: 200px;
}

.widget-address-align-left .address-wrap {
  display: inline-block;
}

/*	Css */
@media all and (min-width: 768px) {
  .widget-address-align-left {
    text-align: right;
  }
  .widget-address-align-center {
    text-align: center;
  }
  .widget-address-align-right {
    text-align: left;
  }
}
