.ast-flickr-gallery,
.ast-instagram-gallery {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 -1px;
}

.ast-flickr-image-wrap .ast-flickr-image,
.ast-flickr-image-wrap .ast-instagram-image,
.ast-instagram-image-wrap .ast-flickr-image,
.ast-instagram-image-wrap .ast-instagram-image {
  padding: 1px;
}

.ast-flickr-gallery-1 .ast-flickr-image-wrap,
.ast-instagram-gallery-1 .ast-flickr-image-wrap, .ast-flickr-gallery-1
.ast-instagram-image-wrap,
.ast-instagram-gallery-1
.ast-instagram-image-wrap {
  width: 100%;
}

.ast-flickr-gallery-2 .ast-flickr-image-wrap,
.ast-instagram-gallery-2 .ast-flickr-image-wrap, .ast-flickr-gallery-2
.ast-instagram-image-wrap,
.ast-instagram-gallery-2
.ast-instagram-image-wrap {
  width: 50%;
}

.ast-flickr-gallery-3 .ast-flickr-image-wrap,
.ast-instagram-gallery-3 .ast-flickr-image-wrap, .ast-flickr-gallery-3
.ast-instagram-image-wrap,
.ast-instagram-gallery-3
.ast-instagram-image-wrap {
  width: 33.33%;
}

.ast-flickr-gallery-4 .ast-flickr-image-wrap,
.ast-instagram-gallery-4 .ast-flickr-image-wrap, .ast-flickr-gallery-4
.ast-instagram-image-wrap,
.ast-instagram-gallery-4
.ast-instagram-image-wrap {
  width: 25%;
}

.ast-flickr-gallery-5 .ast-flickr-image-wrap,
.ast-instagram-gallery-5 .ast-flickr-image-wrap, .ast-flickr-gallery-5
.ast-instagram-image-wrap,
.ast-instagram-gallery-5
.ast-instagram-image-wrap {
  width: 20%;
}

.ast-flickr-gallery-6 .ast-flickr-image-wrap,
.ast-instagram-gallery-6 .ast-flickr-image-wrap, .ast-flickr-gallery-6
.ast-instagram-image-wrap,
.ast-instagram-gallery-6
.ast-instagram-image-wrap {
  width: 16.66%;
}
