.ast-social-profiles-wrapper {

	.social-network-name {
		display: none;
	}
	&.ast-show-network-name {
		.social-network-name {
			display: inline-block;
			font-size: 1.5em;
	    	line-height: 1.5em;
	    	margin-left: 0.3em;
		}
		.ast-social-icons li {
			width: 100%;
			padding-right: 0;
			i {
				text-align: center;
				margin-left: 5px;
			}
		}
	}

	.ast-social-icons {
		.social-icons i {
			font-family: fontawesome;
			font-style: normal;
			display: inline-block;
			font-size: inherit;
			font-weight: normal;
		}
		li {
			float: none;
			display: inline-block;
			margin-bottom: 8px;
			&:last-child {
				padding-right: 0;
			}
		}

		&.social-right-align {
			li {
				padding: 0 0 0 8px;
			}
		}
		&.social-left-align {
			li {
				padding: 0 8px 0 0;
			}
		}
		&.social-center-align {
			li {
				padding: 0 4px 0 4px;
			}
		}
	}
	
	/* Style 1 */
	&.ast-style-1 {
		.ast-social-icons li:not(:last-child) {
			padding: 0 20px 0 0;
		}
		.ast-social-icons li:last-child {
			padding: 0;
		}
		&.ast-show-network-name {
			.ast-social-icons li {
				padding: 0;
	
				i {
					min-width: 1em;
				}
			}
			.social-network-name {
				font-size: 1em;
		    	line-height: 1em;
			}
		}
	}

	/* Style 2 */
	&.ast-style-2 {
		.social-icons i {
		    width: 3em;
		    height: 3em;
		    line-height: 3em;
		    text-align: center;
		    border: 2px solid;
		    border-radius: 50%;
		}
	}

	/* Style 3 */
	&.ast-style-3 {
		.social-icons i {
		    width: 3em;
		    height: 3em;
		    line-height: 3em;
		    text-align: center;
		    border-radius: 50%;
	    	background-color: #ccc;
		}
	}

	/* Style 4 */
	&.ast-style-4 {
		.social-icons i {
		    width: 3em;
		    height: 3em;
		    line-height: 3em;
		    text-align: center;
		    border: 2px solid;
		}
	}
}
